<%namespace file="/base/uiHelpers.html" import="validate_errors"/>




<ul data-tabs="tabs" class="tabs">
	<li class="active"><a href="#general">General</a></li>
	<li class=""><a href="#location">Address</a></li>
	<li class=""><a href="#email">Email Address</a></li>
	<li class=""><a href="#phone">Phone Number</a></li>
</ul>

<div class="tab-content" id="my-tab-content">



	<div id="general" class="tab-pane active">
		${generalForm.begin()}
		${generalForm.csrf_token()}
			<div class="${'clearfix_error' if generalForm.errors_for('first_name') else 'clearfix'}">
			<label for="first_name">First Name</label>
			<div class="input">
				${generalForm.text("first_name", class_="small", maxlength="50")}
				${validate_errors("first_name", generalForm)}
			</div>
		</div>
		<div class="${'clearfix error' if generalForm.errors_for('middle_name') else 'clearfix'}">
			<label for="middle_name">Middle Name</label>
			<div class="input">
				${generalForm.text("middle_name", class_="xlarge", maxlength="50")}
				${validate_errors("middle_name", generalForm)}
			</div>
		</div>
		<div class="${'clearfix error' if generalForm.errors_for('last_name') else 'clearfix'}">
			<label for="last_name">Last Name</label>
			<div class="input">
				${generalForm.text("last_name", class_="xlarge", maxlength="50")}
				${validate_errors("last_name", generalForm)}
			</div>
		</div>
		<div class="actions">
			<input type="submit" name="general_submitted" value="Save" class="btn primary">
			<input type="reset" name="general_reset" value="Cancel" class="btn"
			onclick="location.href='${request.route_url('customer_list')}'">
		</div>
		${generalForm.end()}
	</div>	

	<div id="location" class="tab-pane">
		${locationForm.begin()}
		${locationForm.csrf_token()}
		<div class="${'clearfix_error' if locationForm.errors_for('street') else 'clearfix'}">
			<label for="street">Street</label>
			<div class="input">
			${locationForm.text("street", class_="xlarge")}
			${validate_errors("street", locationForm)}
			</div>
		</div>
		<div class="${'clearfix_error' if locationForm.errors_for('city') else 'clearfix'}">
			<label for="city">City</label>
			<div class="input">
				${locationForm.text("city", class_="xlarge")}
				${validate_errors("city", locationForm)}
			</div>
		</div>
		<div class="${'clearfix_error' if locationForm.errors_for('state') else 'clearfix'}">
			<label for="state">State</label>
			<div class="input">
				${locationForm.text("state", class_="xlarge")}
				${validate_errors("state", locationForm)}
			</div>
		</div>
		<div class="${'clearfix_error' if locationForm.errors_for('zip') else 'clearfix'}">
			<label for="zip">Zip Code</label>
			<div class="input">
				${locationForm.text("zip", class_="xlarge")}
				${validate_errors("zip", locationForm)}
			</div>
		</div>
		${locationForm.text("updated_at", class_="xlarge")}
		
		<div class="actions">
			<input type="submit" name="location_submitted" value="Save" class="btn primary">
			<input type="reset" name="location_reset" value="Cancel" class="btn" 
				onclick="location.href='${request.route_url('customer_list')}'">
	    </div>

		${locationForm.end()}
	</div>

		<div class="actions">
			<input type="submit" name="form_submitted" value="Save" class="btn primary">
			<input type="reset" name="form_reset" value="Cancel" class="btn" 
				onclick="location.href='${request.route_url('customer_list')}'">
	    </div>


    
</div>
